body {
    height: 100%;
    font-family: sans-serif, arial, verdana;
}

.container {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #f8f8f8;
}

.header {
    height: 185px;
    background: url(../img/header-background.jpg) repeat-x
}

.header .logo {
    margin-left: 30px;
    margin-top: 40px;
    float: left;
}

.menu {
    padding-left: 0px;
    font-size: 0px;
    text-align: right;
}


.menu li {
    list-style-type: none;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-left: 80px;
    margin-top: 130px;
    display: inline-block;
}

.menu li a {

    font-variant: small-caps;
    font-size: 17px;
    color: dimgray;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover {
    color: black;
}

.footer {
    height: 30px;
    background: url(../img/footer-background.jpg) repeat-x;
    clear: both;
}

.copyright {
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
}

.bookname {
    color: black;
    font-size: 20px;
    font-weight: 900;
    background-color: #eaeaea;
}

.author {
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: #eaeaea;
}

.header_characteristics {
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: #eaeaea;
}

.description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-align: justify;
}

.description::first-letter {
    font-size: 24px;
    font-family: cursive;
    font-style: italic;
    color: red;
}

.characteristics {
    font-family: monospace;
    color: darkslategray;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    list-style-image: url(../img/marker-gear.png);
}

.characteristics li::first-letter {
    font-size: 18px;
    font-family: cursive;
    font-style: italic;
    color: red;
}

.header_tech_characteristics {
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    background-color: #eaeaea;
}

.tech_characteristics {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.tech_characteristics td {
    border: 1px solid black;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 25%;
}

.tech_characteristics tr:nth-child(1) td:nth-child(2) {
    font-size: 17px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    font-weight: bold;
    background-color: #eaeaea;
}

.tech_characteristics tr:nth-child(1) td:nth-child(1) {
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    background-color: #eaeaea;
}

.tech_characteristics tr:nth-child(2) {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    background-color: #eaeaea;
}

.price {
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: #eaeaea;
}

.username {
    height: 20px;
    width: 271px;
    font-size: 16px;
    text-transform: capitalize;
}

.email {
    height: 20px;
    width: 305px;
    font-size: 16px;
}

.email:focus {
    background-color: lightyellow;
    color: blue;
}

.theme {
    height: 20px;
    width: 307px;
    font-size: 16px;
    color: crimson;
    text-transform: capitalize;
}

textarea {
    height: 200px;
    width: 347px;
    font-size: 17px;
}

.send {
    height: 26px;
    width: 352px;
    margin-top: 10px;
}

.cover {
    border: 2px solid black;
    float: left;
    margin-right: 20px;
}

.cover:hover {
    border-color: transparent;
}

.buy {
    height: 30px;
    width: 100px;
    margin-bottom: 10px;
}

.buy:hover {
    color: red;
    border-color: red;
}

.buy:active {
    color: darkgreen;
    border-color: darkgreen;
}

.book_preview {
    background-color: cornsilk;
    width: 230px;
    height: 335px;
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 5px ridge lightslategray;
    text-align: center;
}